<div class="home-content">
  <div class="overview-boxes" style="font-size: poppins;">
      <div class="box">
          <div class="left-side">
              <div class="box_topic" id="box_header">Total Revenue</div>
            <div style="font-size: 27px; font-weight: 700;  font-family: poppins;
               color: darkblue;"><small style=" font-size: 15px; font-weight: 400; opacity: 0.9;"> AED</small> <sub> ---,---</sub></div>  
          </div>
      </div>

      <div class="box">
          <div class="left-side">
              <div class="box_topic" id="box_header">Avg Revenue</div>
              <div style="font-size: 27px; font-weight: 700;  font-family: poppins;
                  color: darkblue;"><small style=" font-size: 15px; font-weight: 400; opacity: 0.9;">AED</small>  <sub> ---,---</sub></div>  


          </div>

      </div>
      <div class="box">
          <div class="left-side">
              <div class="box_topic" id="box_header">Avg BSR</div>
              <div class="number">-,---</div>

          </div>
      </div>
      <div class="box">
          <div class="left-side">
              <div class="box_topic" id="box_header">Avg Price</div>
              <div style="font-size: 27px; font-weight: 700;  font-family: poppins;
                  color: darkblue;"><small style=" font-size: 15px; font-weight: 400; opacity: 0.9;">AED</small>  <sub> ---,---</sub></div>  


          </div>
      </div>
      <div class="box">
          <div class="left-side">
              <div class="box_topic" id="box_header">Avg Review</div>
              <div class="number">---</div>

          </div>
      </div>
    
      </div>
  </div>
  <router-outlet></router-outlet>