<div class="data">
  <div *ngIf="loader" style="display: grid; place-items: center; height: 90vh">
    <div class="loader"></div>
  </div>
  <div *ngIf="error" style="display: grid; place-items: center; height: 90vh">
    <h1 i18n>Please try again after some time.</h1>
  </div>

  <table id="customers" *ngIf="!loader">
    <tr>
      <th
        style="
          font-size: 22px;
          font-weight: 500;
          /* color: #0076ff; */
          color: #003166;
          padding-left: 40px;
        "
      >
        <div style="display: flex">
          <p>#</p>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Actions</p>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Product Name</p>
          <mat-icon
            aria-hidden="false"
            aria-label="add circle"
            fontIcon="sort"
            matTooltip="Sort Products"
            (click)="sortData('price')"
          ></mat-icon>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Brand</p>
        </div>
      </th>
      <!-- <th>
                <div style="display: flex; justify-content: space-between;">
                    <p>Title</p> <img src="assets/img/Group 3.png" style="float: right;
                padding-right: 7px;
                width: 1rem;
                opacity: 0.7;">
                </div>
            </th> -->
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Category</p>
        </div>
      </th>
      <!-- <th>
                <div style="display: flex; justify-content: space-between;">
                    <p>BuyBox</p> <img src="assets/img/Group 3.png" style="float: right;
                padding-right: 7px;
                width: 1rem;
                opacity: 0.7;">
                </div>
            </th> -->
      <th i18n>Discounted</th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Price</p>
          <mat-icon
            aria-hidden="false"
            aria-label="add circle"
            fontIcon="sort"
            matTooltip="Sort Products"
            (click)="sortData('price')"
          ></mat-icon>
          <!-- <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 2rem; opacity: 0.7"
            (click)="sortData('price')"
          /> -->
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Fba Fee</p>
          <mat-icon
            aria-hidden="false"
            aria-label="add circle"
            fontIcon="sort"
            matTooltip="Sort Products"
            (click)="sortData('price')"
          ></mat-icon>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Discount</p>
          <mat-icon
            aria-hidden="false"
            aria-label="add circle"
            fontIcon="sort"
            matTooltip="Sort Products"
            (click)="sortData('price')"
          ></mat-icon>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Net Profit</p>
          <mat-icon
            aria-hidden="false"
            aria-label="add circle"
            fontIcon="sort"
            matTooltip="Sort Products"
            (click)="sortData('price')"
          ></mat-icon>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>Rating</p>
          <mat-icon
            aria-hidden="false"
            aria-label="add circle"
            fontIcon="sort"
            matTooltip="Sort Products"
            (click)="sortData('price')"
          ></mat-icon>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p i18n>No. Reviews</p>
          <mat-icon
            aria-hidden="false"
            aria-label="add circle"
            fontIcon="sort"
            matTooltip="Sort Products"
            (click)="sortData('price')"
          ></mat-icon>
        </div>
      </th>
      <th i18n>Amazon Choice</th>
      <th i18n>Best Seller</th>
      <th i18n>Prime</th>
      <th i18n>L.Position</th>
      <th i18n>G.Position</th>
      <th i18n>Item Available</th>
      <th i18n>Score</th>

      <th i18n>C Bsr</th>
      <th i18n>LYS</th>
      <th i18n>SP</th>
      <th i18n>Storage Fee</th>

      <th i18n>Mo. Sales</th>
      <th i18n>D. Sales</th>
      <th i18n>Mo Revenue</th>
      <th i18n>Rank</th>
      <th i18n>LQS</th>
      <th i18n>Seller Type</th>
      <th i18n>Sellers</th>
      <th i18n>Dimensions</th>
      <th i18n>Weight</th>
    </tr>
    <tr *ngFor="let product of tableDataFiltered; let i = index">
      <td data-label="#">
        <div style="display: flex; gap: 10px">
          <input type="checkbox" />
          <label>{{ i + 1 }}</label>
        </div>
      </td>
      <td>
        <div style="display: grid; align-items: center; gap: 2px">
          <mat-icon
            aria-hidden="false"
            aria-label="add circle"
            fontIcon="add_circle"
            matTooltip="Track this Product"
            (click)="addProduct(product)"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="verify"
            matTooltip="Track this Product"
            fontIcon="verified_user"
          ></mat-icon>
          <mat-icon
            aria-hidden="false"
            aria-label="share"
            matTooltip="Track this Product"
            fontIcon="share"
            (click)="shareProduct('https://www.amazon.ae/dp/' + product.asin)"
          ></mat-icon>
        </div>
      </td>
      <td data-label="Actions">
        <div style="display: flex; gap: 5px">
          <div>
            <img
              style="mix-blend-mode: multiply"
              [src]="product.imageUrl"
              alt="img"
              height="50px"
              width="50px"
            />
          </div>
          <div>
            <a
              [href]="'https://www.amazon.ae/dp/' + product.asin"
              target="_blank"
              ><p style="margin: 0px">
                {{ product.title.substring(0, 25) }}
              </p></a
            >
            <p
              style="color: #003166; cursor: pointer"
              (click)="copyAsin(product.asin)"
            >
              {{ product.asin }}
            </p>
          </div>
        </div>
      </td>

      <td data-label="Brand">
        {{ product.brand }}
      </td>
      <td data-label="Category">{{ product.category.substring(0, 25) }}</td>
      <!-- <td data-label="Buy Box">{{product.buyBox}}</td> -->
      <td data-label="Sales">{{ product.sales }}</td>
      <td data-label="Price">
        <small style="font-size: 10px; opacity: 0.9"
          >{{ currencyMap[commonService.country.toLowerCase()] }}&nbsp;</small
        >{{ product.price }}
      </td>
      <td data-label="fba">
        <small style="font-size: 10px; opacity: 0.9"
          >{{ currencyMap[commonService.country.toLowerCase()] }}&nbsp;</small
        >{{ product.fbaFee }}
      </td>
      <td data-label="sales">
        <small style="font-size: 10px; opacity: 0.9"
          >{{ currencyMap[commonService.country.toLowerCase()] }}&nbsp;</small
        >{{ product.sale }}
      </td>
      <td>
        <small style="font-size: 10px; opacity: 0.9"
          >{{ currencyMap[commonService.country.toLowerCase()] }}&nbsp;</small
        >{{ product.netProfit }}
      </td>
      <td>{{ product.rating }}</td>
      <td>{{ product.totalReviews }}</td>
      <td>{{ product.amazonChoice }}</td>
      <td>{{ product.bestSeller }}</td>
      <td>{{ product.amazonPrime }}</td>
      <td>{{ product.lPosition }}</td>
      <td>{{ product.gPosition }}</td>
      <td>{{ product.itemAvailable }}</td>
      <td>{{ product.score }}</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </table>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/img/logo copy.png" alt="" id="footer-img" />
      </div>
      <div class="col">
        <button type="btn" id="data-btn" (click)="loadMore()" i18n>
          Load more Result
        </button>
      </div>
    </div>
  </div>
</footer>
