<div
  class="data"
  style="
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100vh - 170px);
  "
>
  <div *ngIf="loader" style="display: grid; place-items: center; height: 90vh">
    <div class="loader"></div>
  </div>
  <div *ngIf="error" style="display: grid; place-items: center; height: 90vh">
    <h1>Please try again after some time.</h1>
  </div>

  <table id="customers" *ngIf="!loader">
    <tr>
      <th
        style="
          font-size: 22px;
          font-weight: 500;
          /* color: #0076ff; */
          color: #003166;
          padding-left: 40px;
        "
      >
        <div style="display: flex">
          <p>#</p>
          <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 1rem; opacity: 0.7"
          />
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Actions</p>
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Product Name</p>
          <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 2rem; opacity: 0.7"
            (click)="sortData('title')"
          />
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Brand</p>
        </div>
      </th>
      <!-- <th>
                <div style="display: flex; justify-content: space-between;">
                    <p>Title</p> <img src="assets/img/Group 3.png" style="float: right;
                padding-right: 7px;
                width: 1rem;
                opacity: 0.7;">
                </div>
            </th> -->
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Category</p>
        </div>
      </th>
      <!-- <th>
                <div style="display: flex; justify-content: space-between;">
                    <p>BuyBox</p> <img src="assets/img/Group 3.png" style="float: right;
                padding-right: 7px;
                width: 1rem;
                opacity: 0.7;">
                </div>
            </th> -->
      <th>Discounted</th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Price</p>
          <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 2rem; opacity: 0.7"
            (click)="sortData('price')"
          />
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Fba Fee</p>
          <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 2rem; opacity: 0.7"
            (click)="sortData('fbaFee')"
          />
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Discount</p>
          <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 2rem; opacity: 0.7"
            (click)="sortData('sale')"
          />
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Net Profit</p>
          <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 2rem; opacity: 0.7"
            (click)="sortData('netProfit')"
          />
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>Rating</p>
          <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 2rem; opacity: 0.7"
            (click)="sortData('rating')"
          />
        </div>
      </th>
      <th>
        <div style="display: flex; justify-content: space-between">
          <p>No. Reviews</p>
          <img
            src="assets/img/Group 3.png"
            style="float: right; padding-right: 7px; width: 2rem; opacity: 0.7"
            (click)="sortData('totalReviews')"
          />
        </div>
      </th>
      <th>Amazon Choice</th>
      <th>Best Seller</th>
      <th>Prime</th>
      <th>L.Position</th>
      <th>G.Position</th>
      <th>Item Available</th>

      <th>C Bsr</th>
      <th>LYS</th>
      <th>SP</th>
      <th>Storage Fee</th>

      <th>Mo. Sales</th>
      <th>D. Sales</th>
      <th>Mo Revenue</th>
      <th>Rank</th>
      <th>LQS</th>
      <th>Seller Type</th>
      <th>Sellers</th>
      <th>Dimensions</th>
      <th>Weight</th>
      <th>Score</th>
    </tr>
    <tr *ngFor="let product of tableDataFiltered; let i = index">
      <td data-label="#">
        <div style="display: flex; gap: 10px">
          <input type="checkbox" />
          <label>{{ i + 1 }}</label>
        </div>
      </td>
      <td style="display: flex; gap: 2px">
        <img
          style="mix-blend-mode: multiply; cursor: pointer"
          src="assets/img/add1.png"
          (click)="addProduct(product)"
        />
        <img
          style="mix-blend-mode: multiply; cursor: pointer"
          src="assets/img/verified1.png"
        />
        <img
          style="mix-blend-mode: multiply; cursor: pointer"
          src="assets/img/share1.png"
        />
      </td>
      <td data-label="Actions">
        <div style="display: flex; gap: 5px">
          <div>
            <img
              style="mix-blend-mode: multiply"
              [src]="product.imageUrl"
              alt="img"
              height="50px"
              width="50px"
            />
          </div>
          <div>
            <a
              [href]="'https://www.amazon.ae/dp/' + product.asin"
              target="_blank"
              ><p style="margin: 0px">
                {{ product.title.substring(0, 25) }}
              </p></a
            >
            <p style="color: #003166">{{ product.asin }}</p>
          </div>
        </div>
      </td>

      <td data-label="Brand">
        {{ product.brand }}
      </td>
      <td data-label="Category">{{ product.category.substring(0, 25) }}</td>
      <!-- <td data-label="Buy Box">{{product.buyBox}}</td> -->
      <td data-label="Sales">{{ product.sales }}</td>
      <td data-label="Price">
        <small style="font-size: 10px; opacity: 0.9">AED&nbsp;</small
        >{{ product.price }}
      </td>
      <td data-label="fba">
        <small style="font-size: 10px; opacity: 0.9">AED&nbsp;</small
        >{{ product.fbaFee }}
      </td>
      <td data-label="sales">
        <small style="font-size: 10px; opacity: 0.9">AED&nbsp;</small
        >{{ product.sale }}
      </td>
      <td>
        <small style="font-size: 10px; opacity: 0.9">AED&nbsp;</small
        >{{ product.netProfit }}
      </td>
      <td>{{ product.rating }}</td>
      <td>{{ product.totalReviews }}</td>
      <td>{{ product.amazonChoice }}</td>
      <td>{{ product.bestSeller }}</td>
      <td>{{ product.amazonPrime }}</td>
      <td>{{ product.lPosition }}</td>
      <td>{{ product.gPosition }}</td>
      <td>{{ product.itemAvailable }}</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </table>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/img/logo copy.png" alt="" id="footer-img" />
      </div>
      <div class="col">
        <button type="btn" id="data-btn">Load more Result</button>
      </div>
    </div>
  </div>
</footer>
