.rating {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    position: relative;
  }

  .rating::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b65454;
    z-index: -1;
  }
  
  .star {
    color: #ddd;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  }


  .dropdown {
    width: 200px;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  .dropdown option {
    padding: 5px;
  }