<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over" position="end">
    <app-filter *ngIf="isFilter"></app-filter>
    <app-keyword-cloud *ngIf="!isFilter"></app-keyword-cloud>
  </mat-drawer>
  <mat-drawer-content>
    <div class="home-content">
      <!-- <div style="background-color: #003166; height: 40px; color: white; padding-left: 40px; width: 100vw;">
                <h2>Uneekli</h2>
            </div> -->
      <div
        *ngIf="!payment()"
        style="text-align: center; padding: 10px; color: red"
      >
        <h1>Pay Us</h1>
      </div>
      <div *ngIf="payment()" class="overview-boxes" style="font-size: poppins">
        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header" i18n>Total Revenue</div>
            <div
              style="
                font-size: 10px;
                font-weight: 700;
                font-family: poppins;
                color: darkblue;
              "
            >
              <!-- <small style="font-size: 10px; font-weight: 400; opacity: 0.9">
                {{ currencyMap[commonService.country.toLowerCase()] }}
              </small>
              <sub>418.44</sub> -->
              <div class="number" i18n>
                {{ currencyMap[commonService.country.toLowerCase()] }}
                {{ overallProductDetails.totalRevenue | commaSeparatedNumber }}
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header" i18n>Avg Revenue</div>
            <div
              style="
                font-size: 10px;
                font-weight: 700;
                font-family: poppins;
                color: darkblue;
              "
            >
              <!-- <small style="font-size: 10px; font-weight: 400; opacity: 0.9"
                >{{ currencyMap[commonService.country.toLowerCase()] }}
              </small>
              <sub>730.80</sub> -->
              <div class="number" i18n>
                {{ currencyMap[commonService.country.toLowerCase()] }}
                {{ overallProductDetails.avgRevenue | commaSeparatedNumber }}
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header" i18n>Opportunity Score</div>
            <div class="number">{{ overallProductDetails.oppScore }}</div>
          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header" i18n>Avg Price</div>
            <div
              style="
                font-size: 10px;
                font-weight: 700;
                font-family: poppins;
                color: darkblue;
              "
            >
              <!-- <small style="font-size: 10px; font-weight: 400; opacity: 0.9"
                >{{ currencyMap[commonService.country.toLowerCase()] }}
              </small>
              <sub>270.10</sub> -->
              <div class="number">
                {{ currencyMap[commonService.country.toLowerCase()] }}
                {{ overallProductDetails.avgPrice | commaSeparatedNumber }}
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header" i18n>Avg Review</div>
            <!-- <div style="display: flex; position: relative">
              <img
                style="width: 50%; height: 28px; position: absolute; top: 0"
                src="assets/img/star.png"
              />
              <div
                style="background-color: #0e008b; height: 28px"
                [ngStyle]="{
                  width: overallProductDetails.avgRatting * 10 + '%'
                }"
              ></div>
              <div
                class="number"
                style="position: absolute; right: 0; padding-top: 3px"
              >
                {{ overallProductDetails.avgRatting.toFixed(1) }}
              </div>
            </div> -->
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                height: 28px;
              "
            >
              <img
                style="width: 50%; height: 28px; position: absolute"
                src="assets/img/star.png"
              />
              <div
                style="background-color: #0e008b; height: 28px"
                [ngStyle]="{
                  width: overallProductDetails.avgRatting * 10 + '%'
                }"
              ></div>
              <div class="number" style="padding-top: 3px">
                {{ overallProductDetails.avgRatting | commaSeparatedNumber }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div
        style="
          display: flex;
          justify-content: flex-start;
          gap: 30px;
          margin-left: 30px;
          margin-right: 30px;
        "
      >
        <div>
          <div class="search-container">
            <div class="search-container">
              <input
                style="width: 275px; padding-left: 30px"
                type="text"
                placeholder="Search"
                class="search-input"
                [(ngModel)]="searchKey"
                (keydown.enter)="updateUrlParam($event)"
              />
            </div>
            <!-- <input type="text" style="width: 275px;" placeholder="Search by name or asin "> -->
          </div>
        </div>
        <div
          (click)="isFilter = true; drawer.toggle()"
          style="cursor: pointer; display: flex; align-items: center; gap: 5px"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="filter_alt"
            style="font-size: 36px; height: 30px; width: 33px"
          ></mat-icon>
          <span i18n>Filter Results</span>
        </div>
        <div
          (click)="isFilter = false; drawer.toggle()"
          style="cursor: pointer; display: flex; align-items: center; gap: 5px"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="cloud"
            style="font-size: 36px; height: 30px; width: 37px"
          ></mat-icon
          ><span i18n>Keyword Cloud</span>
        </div>
        <div
          style="cursor: pointer; display: flex; align-items: center; gap: 5px"
        >
          <select
            class="dropdown"
            [(ngModel)]="lang"
            (change)="selectLan($event)"
          >
            <option value="English">English</option>
            <option value="Arabic">Arabic</option>
          </select>
        </div>

        <div
          style="cursor: pointer; display: flex; align-items: center; gap: 5px"
        >
          <select
            class="dropdown"
            [(ngModel)]="commonService.country"
            (change)="updateCountry()"
          >
            <option value="ae">AE</option>
            <option value="sa">SA</option>
            <option value="eg">EG</option>
          </select>
        </div>
      </div>
      <hr />
    </div>
    <app-data
      (filterToggle)="drawer.toggle()"
      [overallProductDetails]="overallProductDetails"
      [country]="commonService.country"
    ></app-data>
  </mat-drawer-content>
</mat-drawer-container>
