<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over" position="end">
    <app-filter *ngIf="isFilter"></app-filter>
    <app-keyword-cloud *ngIf="!isFilter"></app-keyword-cloud>
  </mat-drawer>
  <mat-drawer-content>
    <div class="home-content">
      <!-- <div style="background-color: #003166; height: 40px; color: white; padding-left: 40px; width: 100vw;">
                <h2>Uneekli</h2>
            </div> -->
      <div class="overview-boxes" style="font-size: poppins">
        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header">Total Revenue</div>
            <div
              style="
                font-size: 10px;
                font-weight: 700;
                font-family: poppins;
                color: darkblue;
              "
            >
              <!-- <small style="font-size: 10px; font-weight: 400; opacity: 0.9">
                AED
              </small>
              <sub>418.44</sub> -->
              <div class="number">AED 418.44</div>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header">Avg Revenue</div>
            <div
              style="
                font-size: 10px;
                font-weight: 700;
                font-family: poppins;
                color: darkblue;
              "
            >
              <!-- <small style="font-size: 10px; font-weight: 400; opacity: 0.9"
                >AED
              </small>
              <sub>730.80</sub> -->
              <div class="number">AED 730.80</div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header">Avg BSR</div>
            <div class="number">5</div>
          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header">Avg Price</div>
            <div
              style="
                font-size: 10px;
                font-weight: 700;
                font-family: poppins;
                color: darkblue;
              "
            >
              <!-- <small style="font-size: 10px; font-weight: 400; opacity: 0.9"
                >AED
              </small>
              <sub>270.10</sub> -->
              <div class="number">AED {{ overallProductDetails.avgPrice }}</div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" id="box_header">Avg Review</div>
            <div style="display: flex; position: relative">
              <!-- <div
                    style="background-color: #0e008b; height: 28px"
                    [ngStyle]="{
                      width: overallProductDetails.avgRatting * 11 + '%'
                    }"
                  > -->
              <img
                style="width: 50%; height: 28px; position: absolute; top: 0"
                src="assets/img/star.png"
              />
              <div
                class="number"
                style="position: absolute; right: 0; padding-top: 3px"
              >
                {{ overallProductDetails.avgRatting.toFixed(1) }}
              </div>
              <!-- </div> -->

              <div
                style="background-color: #0e008b; height: 28px"
                [ngStyle]="{
                  width: overallProductDetails.avgRatting * 10 + '%'
                }"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div
        style="
          display: flex;
          justify-content: flex-start;
          gap: 30px;
          margin-left: 30px;
        "
      >
        <div>
          <div class="search-container">
            <div class="search-container">
              <input
                style="width: 275px; padding-left: 30px"
                type="text"
                placeholder="Search"
                class="search-input"
                (keydown.enter)="updateUrlParam($event)"
              />
            </div>
            <!-- <input type="text" style="width: 275px;" placeholder="Search by name or asin "> -->
          </div>
        </div>
        <div (click)="isFilter = true; drawer.toggle()" style="cursor: pointer">
          <img src="assets/img/filter-filled-tool-symbol.png" />
          <span>Filter Results</span>
        </div>
        <div
          (click)="isFilter = false; drawer.toggle()"
          style="cursor: pointer"
        >
          <img src="assets/img/keyword1.png" /> <span>Keyword Cloud</span>
        </div>
      </div>
      <hr />
    </div>
    <app-data
      (filterToggle)="drawer.toggle()"
      [overallProductDetails]="overallProductDetails"
    ></app-data>
  </mat-drawer-content>
</mat-drawer-container>
